##### Projeto Integrador 1 - Análise de dados

In [ ]:
# Passos para análise de dados:
# Passo 1: Importar os dados
# Passo 2: Visualizar a base
# Passo 3: Tratamento de erros (resolver erros da base)
# Passo 4: Análise inicial dos dados
# Passo 5: Análise profunda dos dados

In [5]:
import pandas as pd 

#Lendo a base de dados do IOT-temp do kaggle;
database = pd.read_csv("IOT-temp.csv")
display(database)

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [6]:
#Para visualizar os tipos de dados;
#Vendo a base o que podemos observar que todas as linhas estão preenchidas, não sendo necessário retirar dados nulos;
#Apenas a coluna int64 é inteiro, enquanto os demais são object;
display(database.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97606 entries, 0 to 97605
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          97606 non-null  object
 1   room_id/id  97606 non-null  object
 2   noted_date  97606 non-null  object
 3   temp        97606 non-null  int64
 4   out/in      97606 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.7+ MB

None

In [12]:
import statistics
from statistics import mean

# Verificar a quantidade dos tipos de room/id para verificar se existe algum grupo além de room admin
display(database["room_id/id"].value_counts())
# Verificar os tipos de out/in para verificar a quantidade de out/in 
display(database["out/in"].value_counts())
# Verificar o percentual de out/in
display(database["out/in"].value_counts(normalize=True).map("{:.1%}".format))

room_id/id
Room Admin    97606
Name: count, dtype: int64

out/in
Out    77261
In     20345
Name: count, dtype: int64

out/in
Out    79.2%
In     20.8%
Name: proportion, dtype: object