##### Projeto Integrador 1 - Análise de dados

In [ ]:
# Passos para análise de dados:
# Passo 1: Importar os dados
# Passo 2: Visualizar a base
# Passo 3: Tratamento de erros (resolver erros da base)
# Passo 4: Análise inicial dos dados
# Passo 5: Análise profunda dos dados

In [17]:
import pandas as pd 

#Lendo a base de dados do IOT-temp do kaggle;
database = pd.read_csv("IOT-temp.csv")
display(database)

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [18]:
#Para visualizar os tipos de dados;
#Vendo a base o que podemos observar que todas as linhas estão preenchidas, não sendo necessário retirar dados nulos;
#Apenas a coluna int64 é inteiro, enquanto os demais são object;
display(database.info())

#Como a coluna id indica apenas a quantidade de ids registrados e essa contagem já será feita, essa informação pode ser retirada.
# linha -> axis = 0
# coluna -> axis = 1
database = database.drop("id", axis = 1)
display(database.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97606 entries, 0 to 97605
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          97606 non-null  object
 1   room_id/id  97606 non-null  object
 2   noted_date  97606 non-null  object
 3   temp        97606 non-null  int64
 4   out/in      97606 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97606 entries, 0 to 97605
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id/id  97606 non-null  object
 1   noted_date  97606 non-null  object
 2   temp        97606 non-null  int64
 3   out/in      97606 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

None

In [24]:
#Verificar a quantidade dos tipos de room/id para verificar se existe algum grupo além de room admin
display(database["room_id/id"].value_counts())
#Verificar os tipos de noted_date para verificar e respectivamente a sua quantidade e o seu percentual
display(database["noted_date"].value_counts())
display(database["noted_date"].value_counts(normalize=True).map("{:.2%}".format))
#Verificar os tipos de temp para verificar e respectivamente a sua quantidade e o seu percentual
display(database["temp"].value_counts())
display(database["temp"].value_counts(normalize=True).map("{:.2%}".format))
#Verificar os tipos de out/in para verificar e respectivamente a sua quantidade e o seu percentual
display(database["out/in"].value_counts())
display(database["out/in"].value_counts(normalize=True).map("{:.2%}".format))

room_id/id
Room Admin    97606
Name: count, dtype: int64

noted_date
12-09-2018 03:09    65
09-09-2018 16:24    62
09-09-2018 17:31    53
11-09-2018 19:42    50
09-09-2018 16:08    50
                    ..
22-11-2018 21:23     1
22-11-2018 21:21     1
21-10-2018 05:41     1
21-10-2018 05:45     1
21-10-2018 21:54     1
Name: count, Length: 27920, dtype: int64

noted_date
12-09-2018 03:09    0.07%
09-09-2018 16:24    0.06%
09-09-2018 17:31    0.05%
11-09-2018 19:42    0.05%
09-09-2018 16:08    0.05%
                    ...
22-11-2018 21:23    0.00%
22-11-2018 21:21    0.00%
21-10-2018 05:41    0.00%
21-10-2018 05:45    0.00%
21-10-2018 21:54    0.00%
Name: proportion, Length: 27920, dtype: object

temp
39    10203
28     8831
29     7922
40     7798
31     7236
30     6614
37     5723
32     5408
27     4631
41     4354
36     3965
38     3867
42     3447
33     3437
34     2613
43     2004
44     1774
35     1582
45     1508
46     1201
47     1044
48      971
26      699
49      401
25      224
24       66
50       55
22       19
23        5
21        2
51        2
Name: count, dtype: int64

temp
39    10.45%
28     9.05%
29     8.12%
40     7.99%
31     7.41%
30     6.78%
37     5.86%
32     5.54%
27     4.74%
41     4.46%
36     4.06%
38     3.96%
42     3.53%
33     3.52%
34     2.68%
43     2.05%
44     1.82%
35     1.62%
45     1.54%
46     1.23%
47     1.07%
48     0.99%
26     0.72%
49     0.41%
25     0.23%
24     0.07%
50     0.06%
22     0.02%
23     0.01%
21     0.00%
51     0.00%
Name: proportion, dtype: object

out/in
Out    77261
In     20345
Name: count, dtype: int64

out/in
Out    79.16%
In     20.84%
Name: proportion, dtype: object

In [33]:
display(database.groupby("out/in").count())

        room_id/id  noted_date   temp
out/in
In           20345       20345  20345
Out          77261       77261  77261

In [38]:
import statistics
from statistics import mean

#Média de temp de acordo com out/in
display(database.groupby("out/in").mean(numeric_only=True))
#Média de temp de acordo com noted_date
display(database.groupby("noted_date").mean(numeric_only=True))

             temp
out/in
In      30.453920
Out     36.265244

                  temp
noted_date
01-11-2018 00:06  32.0
01-11-2018 00:07  40.0
01-11-2018 00:09  39.0
01-11-2018 00:13  40.0
01-11-2018 00:23  40.0
...                ...
31-10-2018 23:52  40.0
31-10-2018 23:53  39.0
31-10-2018 23:54  32.0
31-10-2018 23:55  40.0
31-10-2018 23:57  39.0

[27920 rows x 1 columns]